@import "tailwindcss";

@theme {
  --color-primary: #3b82f6;
}

@layer base {
  body {
    background-color: var(--color-gray-50);
    color: var(--color-gray-900);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
