@import "tailwindcss";

/* dark mode ONLY via class */
@custom-variant dark (&:where(.dark, .dark *));


@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Space Grotesk", ui-sans-serif, system-ui, sans-serif;
  --color-primary: #3b82f6;
}

@layer base {
  body {
    @apply bg-zinc-50 text-zinc-900 transition-colors duration-300;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .dark body {
    @apply bg-zinc-950 text-zinc-50;
  }
}
